html, body {

  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f9f0de;
  color:#1d1d1b;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
ul:last-child{
  margin-right: 2em;
}
h1{
  margin: 20px 0px 20px 0px;
  font-size: 5rem;
}
h2{
  font-size: 3rem;
}
.landing-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f9f0de;

}
/* NAV */
.header {
  position: fixed;
  background: linear-gradient(to top, rgba(249,240,222,0),30%, rgba(249,240,222,1));
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 13%;
}

.header a {
  color:#1d1d1b;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.navigation {
  width: 70%;
  display: flex;
  justify-content: end;
}

.navigation a{
  margin: 0.5em;
}
.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #d83715;
  transition: width 500ms ease;
}
.navigation a:hover::after,
.navigation a:focus::after {
  width: 100%;
}

.logo a {
  color:#1d1d1b;
  text-decoration: none;
  margin: 0.5em;
  margin-left: 3em;
}
/* LANDING PAGE */
.main-content {
  height: 95vh;
}
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 95%;

}
.tag-line {
  width: 100%;
  height: 80%;
  padding: 0 27px 0px 27px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.scroll {
  bottom: 0;
  text-align: center;
}
.scroll img{
  height:50px;
}


.pitch{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 52px;
  height:100%;
}
.pitch p {
  font-size: 1.5rem;
  width: 50%;
}
.go {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
.to-art {
  background-color: #1d1d1b;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color:  #f9f0de;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.to-art:hover,
.to-art:focus {
  transition-timing-function: ease;
  transition-duration: 500ms;
  background-color: #d83715;
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px){
  img{
    object-fit: contain;
    height: 50px;
  }
  .header {
    font-size: 1.25rem;
  }
  .navigation{
    display: none;
  }
  .tag-line {
    width: 100%;
    height: 80%;
    padding: 0 27px 0px 27px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: start;
  }
  h1 {
    margin-left: 40.5px;
  }
}

@media (min-width: 768px){
  img{
    object-fit: contain;
    height: 2em;
  }
  .header{
    font-size: 1.25rem;
  }
}
@media (min-width: 992px){
  img{
    object-fit: contain;
    height: 2em;
  }
  .header{
    font-size: 1.25rem;
  }
}
@media (min-width: 1200px){
  img{
    object-fit: contain;
    height: 2.5em;
  }
  .header{
    font-size: 1.75rem;
  }
}
@media (min-width: 1920px){
  img{
    object-fit: contain;
    height: 2em;
  }
  .header{
    font-size: 1.75rem;
  }
  h1 {
    font-size: 7.75rem;
  }
}