html {
    background-color: #f9f0de;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #1d1d1b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container {
    margin-top: 6.5%;
    width: 100%;
    height: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header {
    width: 100%;
}

img {
    object-fit: contain;
    height: 1em;
}

ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.about-ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h2 {
    text-align: center;
}

h3 a {
    text-decoration: none;
    color: #1d1d1b;
}


/* NAV */
.navbar {
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13%;
}

.menu-toggle.clicked .bot {
    transform: rotate(45deg);
    background-color: #f9f0de;
}

.menu-toggle.clicked .top {
    transform: rotate(-45deg);
    background-color: #f9f0de;
}

#menu-toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 2em;
    margin-right: 5%;
    position: relative;
    cursor: pointer;
    z-index: 1001;
}

.bot {
    display: inline-block;
    background: #1d1d1b;
    height: 3px;
    width: 24px;
    top: 50%;
    z-index: 1000;
    transition: all 0.3s;
}

.top {
    content: " ";
    display: inline-block;
    position: absolute;
    z-index: 1000;
    background: #1d1d1b;
    height: 3px;
    width: 24px;
    transform: translateY(-8px);
    transition: all 0.3s;
}

.menu-toggle:active:hover .bot {
    top: unset;
}

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.nav-container.open {
    visibility: visible;
}

.nav {
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 4em;
}

.nav a {
    text-decoration: none;
    color: #f9f0de;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

li {
    margin: 0.2em;
}

.logo {
    margin-left: 5%;
}

.logo a {
    color: #1d1d1b;
    text-decoration: none;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2% 0 2% 0;
}

@media (min-width: 1200px) {
    .navbar {
        font-size: 3rem;
    }
}